@model ECommerceWeb.Models.ViewModels.PedidoVM

<form method="post">
    <div class="card container-md mt-3">
        <div class="card-header row">
            <h4 class="col-8">Resumen del pedido</h4>
            <div class="col-12 col-sm-4">
                <a asp-action="Index" class="btn btn-outline-info form-control btn-sm">Volver a listado</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-7">
                    <h4 class="text-primaty d-block my-2">Detalles de envío</h4>
                    <div class="row my-2">
                        <div class="col-12 col-md-2">
                            <label>Nombre</label>
                        </div>
                        <div class="col-12 col-md-8">
                            @if (User.IsInRole(SD.RolAdmin) || User.IsInRole(SD.RolModerador))
                            {
                                <input asp-for="Pedido.Nombre" type="text" class="form-control" />
                                <span asp-validation-for="Pedido.Nombre" class="text-danger"></span>
                            }
                            else
                            {
                                <input asp-for="Pedido.Nombre" readonly type="text" class="form-control" />
                            }

                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-2">
                            <label>Apellido</label>
                        </div>
                        <div class="col-12 col-md-8">
                            @if (User.IsInRole(SD.RolAdmin) || User.IsInRole(SD.RolModerador))
                            {
                                <input asp-for="Pedido.Apellido" class="form-control" />
                                <span asp-validation-for="Pedido.Apellido" class="text-danger"></span>
                            }
                            else
                            {
                                <input asp-for="Pedido.Apellido" readonly type="text" class="form-control" />
                            }
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-2">
                            <label>Teléfono</label>
                        </div>
                        <div class="col-12 col-md-8">
                            @if (User.IsInRole(SD.RolAdmin) || User.IsInRole(SD.RolModerador))
                            {
                                <input asp-for="Pedido.Telefono" class="form-control" />
                                <span asp-validation-for="Pedido.Telefono" class="text-danger"></span>
                            }
                            else
                            {
                                <input asp-for="Pedido.Telefono" readonly type="text" class="form-control" />
                            }
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-2">
                            <label>Dirección</label>
                        </div>
                        <div class="col-12 col-md-8">
                            @if (User.IsInRole(SD.RolAdmin) || User.IsInRole(SD.RolModerador))
                            {
                                <input asp-for="Pedido.Direccion" class="form-control" />
                                <span asp-validation-for="Pedido.Direccion" class="text-danger"></span>
                            }
                            else
                            {
                                <input asp-for="Pedido.Direccion" readonly class="form-control" />
                            }
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-2">
                            <label>Código Postal</label>
                        </div>
                        <div class="col-12 col-md-8">
                            @if (User.IsInRole(SD.RolAdmin) || User.IsInRole(SD.RolModerador))
                            {
                                <input asp-for="Pedido.CodigoPostal" class="form-control" />
                                <span asp-validation-for="Pedido.CodigoPostal" class="text-danger"></span>
                            }
                            else
                            {
                                <input readonly asp-for="Pedido.CodigoPostal" class="form-control" />
                            }
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-2">
                            <label>Localidad</label>
                        </div>
                        <div class="col-12 col-md-8">
                            @if (User.IsInRole(SD.RolAdmin) || User.IsInRole(SD.RolModerador))
                            {
                                <input asp-for="Pedido.Localidad" class="form-control" />
                                <span asp-validation-for="Pedido.Localidad" class="text-danger"></span>
                            }
                            else
                            {
                                <input asp-for="Pedido.Localidad" readonly class="form-control" />
                            }
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-2">
                            <label>Provincia</label>
                        </div>
                        <div class="col-12 col-md-8">
                            @if (User.IsInRole(SD.RolAdmin) || User.IsInRole(SD.RolModerador))
                            {
                                <input asp-for="Pedido.Provincia" class="form-control" />
                                <span asp-validation-for="Pedido.Provincia" class="text-danger"></span>
                            }
                            else
                            {
                                <input asp-for="Pedido.Provincia" readonly class="form-control" />
                            }
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-2">
                            <label>ID del pedido</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <input asp-for="Pedido.IdPedido" readonly class="form-control" />
                            <span asp-validation-for="Pedido.IdPedido" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-2">
                            <label>ID del pago</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <input asp-for="Pedido.IdPagoStripe" readonly class="form-control" />
                            <span asp-validation-for="Pedido.IdPagoStripe" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-2">
                            <label>Fecha de pedido</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <input asp-for="Pedido.FechaPedido" readonly class="form-control" />
                            <span asp-validation-for="Pedido.FechaPedido" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-2">
                            <label>Estado del pago</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <input asp-for="Pedido.EstadoPago" readonly class="form-control" />
                            <span asp-validation-for="Pedido.EstadoPago" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-2">
                            <label>Fecha de pago</label>
                        </div>
                        <div class="col-12 col-md-8">
                            <input asp-for="Pedido.FechaPago" readonly class="form-control" />
                            <span asp-validation-for="Pedido.FechaPago" class="text-danger"></span>
                        </div>
                    </div>
                    @if ((User.IsInRole(SD.RolAdmin) || User.IsInRole(SD.RolModerador)) && Model.Pedido.EstadoPedido != SD.EstadoCompletado)
                    {
                        <button asp-action="ActualizarDetalles" type="submit" class="btn btn-warning form-control my-1 text-white">Actualizar detalles de envio</button>
                    }
                </div>
                <div class="col-5">
                    <h4 class="text-primaty d-block my-2">Detalles del pedido</h4>
                    <label class="btn btn-outline-primary form-control my-2">Estado del pedido - @Model.Pedido.EstadoPedido</label>
                    <ul class="list-group mb-3">
                        @foreach (var detalle in Model.Detalles)
                        {
                            <li class="list-group-item row">
                                <div class="col-8">
                                    <h6 class="my-0 text-primary">@detalle.Producto.Nombre</h6>
                                    @if (detalle.Producto.PrecioDescuento > 0)
                                    {
                                        <small class="text-muted">Precio : @detalle.Producto.PrecioDescuento.Value.ToString("c")</small>
                                    }
                                    else
                                    {
                                        <small class="text-muted">Precio : @detalle.Producto.Precio.ToString("c")</small>
                                    }
                                    <small class="text-muted">Cantidad : @detalle.Cantidad</small>
                                </div>
                                <div class="col-4">
                                    <img src="@detalle.Producto.URLImagen">
                                </div>
                            </li>
                        }
                    </ul>
                    @if ((User.IsInRole(SD.RolAdmin) || User.IsInRole(SD.RolModerador)) && Model.Pedido.EstadoPedido != SD.EstadoCompletado)
                    {
                        if(Model.Pedido.EstadoPedido != SD.EstadoEnviado && Model.Pedido.EstadoPago == SD.EstadoPagoConcretado)
                        {
                            <button type="submit" asp-action="EnviarPedido" class="btn btn-primary form-control my-1">Enviar Pedido</button>
                        }
                        if (Model.Pedido.EstadoPago == SD.EstadoPagoConcretado)
                        {
                            <button asp-action="ReembolsarPedido" type="submit" class="btn btn-primary form-control my-1">Reembolsar Pedido</button>
                        }
                        if(Model.Pedido.EstadoPedido == SD.EstadoEnviado)
                        {
                            <button asp-action="FinalizarPedido" type="submit" class="btn btn-primary form-control my-1">Informar Pedido recibido</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    img {
        height: 80px;
        width: 80px;
        object-fit: cover;
    }
</style>




