@model CarritoCompras

<link rel="stylesheet" href="~/css/homeDetalles.css" />
<form method="post">
    <input hidden asp-for="IdProducto" />
    <div class="card container p-2 mt-3 rounded">
        <div class="card-header p-3">
            <span class="badge bg-info p-2 mt-3 mb-3 mr-4 text-white">@Model.Producto.Categoria.Nombre</span>
            <div class="block">
                <img src="@Model.Producto.URLImagen" class="float-left imagen-producto rounded" />
                <div class="contenido-principal">
                    <h3>@Model.Producto.Nombre</h3>
                    @if (Model.Producto.PrecioDescuento != null)
                    {
                        <p><del>@Model.Producto.Precio.ToString("c")</del></p>
                        <div class="d-flex align-baseline">
                            <p class="d-inline-block precio-descuento"><strong>@Model.Producto.PrecioDescuento.Value.ToString("c")</strong></p>
                            <p class="d-inline-block porcentaje-descuento text-success fw-semibold"><small>@Model.Producto.PorcentajeDescuento.Value.ToString("p") OFF</small></p>
                        </div>
                    }
                    else
                    {
                        <div><stong>@Model.Producto.Precio.ToString("c")</stong></div>
                    }
                    <div class="input-group mt-3">
                        <div class="input-group-text">
                            <span>Cantidad</span>
                        </div>
                        <input type="number" min="1" max="1000" asp-for="Cantidad" class="form-control" />
                    </div>
                    <div class="d-flex justify-content-around mt-3">
                        <button type="submit" class="btn btn-primary form-control m-3 p-2">Añadir al carrito</button>
                        <a class="btn btn-info form-control m-3 p-2" onclick="history.back()">Volver</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            @Html.Raw(Model.Producto.Descripcion)
        </div>

    </div>
</form>